<header id="header">
</header>
<a href="#" id="sumir" class="logo2"><img id="img-rez" src="/assets/doeja-logo.png" alt="logo" /></a><body class="cbp-spmenu-push">

<%= render '/shared/donate' %>

<%= render '/shared/receive' %>

<div id="infobox" class="">
  <section class="buttonset">
    <h2>Você quer</h2>
    <!-- Class "cbp-spmenu-open" gets applied to menu and "cbp-spmenu-push-toleft" or "cbp-spmenu-push-toright" to the body -->
    <button id="showLeftPush">Doar</button>
    <button id="showRightPush">Receber</button>
    <button class="know" id="showBottomPush">Saber Como Funciona</button>
  </section>
</div>
