<% if @Receiver.errors.any? %>
    <div class="errorswindow" >
      <ul>
        <% @Receiver.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>