<% if @Receiver.respond_to?('errors') %>
    <script>
        $(function() {
            $( "#dialog" ).dialog();
        });
    </script>
    <div id="dialog" title="Basic dialog">
      <ul>
        <% @Receiver.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>