Seja bem vindo ao DoeJa.com <%= @user.name %></h1>

Você registrou com sucesso o seu local de recepção de doações.
Ficamos felizes com sua contribuição.

Caso posteriormente escolha não participar mais, colar no endereço a seguir para deletar seu local:

http://www.doeja.com/deletarlocal?deletetoken=<%= @token %>

Por isso, mantenha esse email até que o queira, mas esperamos que não =).

Obrigado por participar e tenha um ótimo dia!